
<script type="text/javascript" src="/scripts/home.js"></script>
<!-- <script type="text/javascript" src="/scripts/script.js"></script> -->
<div class="empty-space"></div>
<div class="empty-space"></div>
<div class="empty-space"></div>

<div class="home-header-div">
  <h4> WELCOME TO <span color="blue"> SIMPLE SOUNDS </span> a modest little app that lets you search the sound cloud, create a play list, etc. Enjoy responsibly</h4>
</div>

<div class="empty-space"></div>
<div class="empty-space"></div>

<div class="canvas-div">
	<canvas id="canvas1" width="900" height="300"></canvas>
	<p>After canvas.</p>
</div>