<div class="empty-space"></div>
<div class="empty-space"></div>
<div class="empty-space"></div>
<h4> Searched for tracks</h4>

<form method="GET" action="/addsong">
  <% @tracks.each do |track| %>
  <input type="radio" name=<%= track.stream_url %> value=<%= track.title %>> <%= track.title %> <br>
  <% end %>
	<input type="submit" value="SUBMIT">
</form>

