<div class="empty-space"></div>
<div class="empty-space"></div>
<div class="empty-space"></div>
<h4> Search the sound cloud </h4>
	<form method="POST" action="/searchcloud">
	  <div class="email-div">
	    <label for="keyword"> keyword </label>
		<input type="text" name="keyword">
	  </div>
		<input type="submit">
	</form>