#boomBoxCont
{
  height: 500px;
  position: relative;
  width: 500px;
}
#boomBoxCanvas
{
  height: 100%;
  width: 100%;
}

#controlBtns
{
  position: absolute;
  width: 100%;
  bottom: 220px;
  left: 70px;
}

.searchDiv 
{
  display: none;
}
