#boomBoxCont
{
  height: 500px;
  position: relative;
  width: 500px;
}
#boomBoxCanvas
{
  height: 100%;
  width: 100%;
}

#songTitleDiv 
{
  position: absolute;
  width: 100%;
  bottom: 300px;
  left: 70px;
}

#controlBtns
{
  position: absolute;
  width: 100%;
  bottom: 220px;
  left: 50px;
}

.searchDiv 
{
  display: none;
}

.box-add-btn 
{
  visibility: hidden;
}

#songID 
{
  visibility: hidden;
}

.playlist-container 
{
  display: none;
}

#searchlist-container
{
  display: block;
}